{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanças pessoais</title>
</head>
<body>
    
    <h1>{{ balancete.nome }} - R${{ balancete.saldo | floatformat:2 }}</h1>
    <p><a href="{% url 'financas:despesa' balancete.pk %}">Adicionar despesa</a></p>
    <p><a href="{% url 'financas:receita' balancete.pk %}">Adicionar receita</a></p>
    <ul>
        {% for transacao in balancete.transacao_set.all %}
        <li>
            <p>{{ transacao.nome }} - R${{ transacao.valor | floatformat:2 }}</p>
            <img src="{{ transacao.boleto.url }}">
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'financas:index' %}">Voltar</a>
</body>
</html>