<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanças pessoais</title>
</head>
<body>
    <h1>Minhas Finanças</h1>
    {% if feedback %}
    <p>{{ feedback }}</p>
    {% endif %}
    <form action="{% url 'financas:balancete' %}" method="post">
        {% csrf_token %}
        <label for="nome">Digite um nome pro seu novo balancete:
            <input type="text" name="nome">
        </label>
        <input type="submit" value="Adicionar">
    </form>
    <form action="{% url 'financas:transacao' %}" method="get">
        {% csrf_token %}
        <label for="pesquisa">Qual transação deseja ver?</label>
        <input type="search" name="pesquisa">
        <input type="submit" value="Pesquisar">
    </form>
        {% for balancete in balancetes %}
            <h4>{{ balancete.data | date:"d/m/Y"}} - <a href="{% url 'financas:get_balancete' balancete.pk %}">{{ balancete.nome }}</a> - R${{ balancete.saldo | floatformat:2 }}</h4>
        {% endfor %}
</body>
</html>