<html>
    <head>
        <title>DSWeb - 2024.1</title>
        <style>
            h1, h2{
                color: white;
                background-color: rgb(0, 204, 204);
            }
            li{
                padding-bottom: 20px;
            }
            li:hover{
                color: rgb(0, 204, 204);
                border: solid rgb(0, 204, 204) 0.5px;
            }
            a{
                color: black;
            }
            a:hover{
                color: rgb(0, 204, 204);
            }
        </style>
    </head>
    <body>
        <h1>Aplicação de Enquetes - DSWeb 2024.1</h1>
        <h2>{{ enquete.texto }}</h2>
        <p><i>{{ enquete.data_pub }}</i></p>
        <p>Quantidade de votos por alternativas:</p>
        <ul>
            {% for alt in enquete.alternativa_set.all %}
                <li>{{ alt.texto }} == {{ alt.votos }} voto{{ alt.votos | pluralize }}</li>
            {% endfor %}
        </ul>
        <a href = "{% url 'enquetes:detalhes' enquete.id %}">Votar novamente?</a> | <a href = "{% url 'enquetes:index' %}">Voltar</a>
    </body>
</html>