*{
    text-align: center;
}

body{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul{
    list-style: none;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    margin: 10px;
}

.main{
    width: 80%;
    background-color: rgb(204, 255, 204);
    border-radius: 30px;
    padding: 20px;
    align-self: center;
}

.message{
    color: green;
    font-size: 20px;
}

h1, h4, input{
    color: green;
}

input[type=submit]{
    align-self: center;
    width: 20%;
    cursor: pointer;
    color: rgb(204, 255, 204);
    background-color: green;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

a{
    text-decoration: none;
    color: rgb(204, 255, 204);
    background-color: green;
    border-radius: 10px;
    padding: 5px;
}

p{
    margin: 20px;
}