{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'financas/login.css' %}">
    <title>Finanças pessoais</title>
</head>
<body>
    <h1>Acompanhe aqui suas finanças pessoais :D</h1>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <div>
        <h4>Login</h4>
        <form action="{% url 'login' %}?next={% url 'financas:index' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Entrar">
        </form>
    </div>
</body>
</html>